<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="panel-layout(activeMenu, content)">
    <div class="row g-4">
        <div class="col-12 col-lg-3">
            <nav th:replace="~{fragments/member-menu :: menu(${activeMenu})}"></nav>
        </div>
        <div class="col-12 col-lg-9">
            <div th:replace="${content}"></div>
        </div>
    </div>
</div>

</body>
</html>
